.container{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  width: 75%;
  border: 1px solid transparent;
  border-radius: 34px;
  box-sizing: border-box;
  background: #00aaff87;
  margin-bottom: 10px;

  &.me {
    color: white;
    float: right;
    background-color: #328ec4;
  }
}